<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="bootstrap/testing.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="true"
  syntaxCheck="false"
  stderr="true"
>
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>app/tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">app/Controllers</directory>
      <directory suffix=".php">app/Tricks</directory>
      <exclude>
        <directory suffix=".php">app/Tricks/Facades</directory>
        <!-- you ever tried testing protected static methods? -->
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="report/" charset="UTF-8" yui="true" />
  </logging>
</phpunit>
